{% extends "base.html" %}

{% block title %}Node index{% endblock %}

{% block javascript %}
<script type="text/javascript">

/**
 * This is some Ajax that will update the node statuses asynchronously.
 * Note: I suck at javascript.
 *
 * Each node is in an HTML table row with the id 'node_{id}'. 
 */

function updateRow(nodeInfo) 
{
	var id = nodeInfo.pk;
	var select = "tr[id='node_" + id.toString() + "']";

	var color = 'red';
	var node_name = 'Nameless node';

	if(nodeInfo.pk == 2) {
		color = 'white';
	}
	if(nodeInfo.fields.status == 'AVAIL') {
		color = 'green';
	}
	if(nodeInfo.fields.name) {
		node_name = nodeInfo.fields.name;
	}

	$(select + " > td[class='td_status_color']")
			.css('background-color', color);

	$(select + " > td[class='td_name_etc'] span[class='name']")
			.text(node_name);
}

// Update the page with JSON data
function updateWithJson(json)
{
	if(!json) {
		return;
	}
	for(i in json) {
		updateRow(json[i]);
	}
}

// Do the ajax check for status change.
function doCheckStatus() {
	$.getJSON('/node/ajax_get_info/', function(d) {
		updateWithJson(d);
	});
}


$(window).load(function () {
	$('body').everyTime(1000,function(i) {
		doCheckStatus();
	});
});

</script>
{% endblock %}

{%block content %}
	<div class="buttons">
		<a href="/node/add/" class="button">Add Node</a>
		<a href="/node/edit/" class="button">Edit Own Node</a>
	</div>
	<h1> Node Index </h1>
	<table class="table">
	{% for node in nodes %}
		<tr class="row_{% cycle 'odd' 'even' %}" id="node_{{ node.pk }}">
			<td style="background-color:{{ node.status_color }}" 
				title="{{ node.get_status }}" class="td_status_color">
				&nbsp;&nbsp;&nbsp;
			</td>
			<td class="td_name_etc">
				{% if node.is_ours %}<strong>{% endif %}
				{% if node.name %}
					<a href="{{ node.get_absolute_url }}"><span 
						class="name">{{node.name}}</span></a>
				{% else %}
					<a href="{{ node.get_absolute_url }}"><span
						class="name">Nameless node</span></a>
				{% endif %}
				{% if node.is_ours %}(your node)</strong>{% endif %}	
				<p>located at <u>{{ node.uri }}</u></p>	
			</td>
			<td class="td_date">	
				{% if node.datetime_added %}
					<p><small>added {{ node.datetime_added }}
					</small></p>
				{% endif %}
				{% if node.datetime_last_resolved %}
					<p><small>last resolved {{ node.datetime_last_resolved }}
					</small></p>
				{% endif %}
			</td>
			<td>
				{% if node.is_ours %}
					<a href="/node/edit/">edit</a>
				{% else %}
					<a href="/node/edit/{{ node.pk }}/">edit</a> |
					<a href="/node/delete/{{ node.pk }}/">delete</a>
				{% endif %}
			</td>
		</tr>
	{% endfor %}
	</table>
{% endblock %}
