{% extends "base.html" %}

{% block title %}Viewing Node{% endblock %}

{%block content %}
	<div class="buttons">
	{% if node.is_ours %}
		<a href="/node/edit/" class="button">Edit Own Node</a>
	{% else %}
		<a href="/node/delete/{{ node.pk }}/" class="button">Delete Node</a>
	{% endif %}	
	</div>
	<h2> <a href="/node/">Index</a> &gt; Node #{{ node.pk }} </h2>

	<table class="table">
		<tr>
			<th colspan="2">Basic Info</th>
		</tr>
		<tr>
			<td>Name</td>
			<td><strong>{{ node.name }}</strong></td>
		</tr>
		<tr>
			<td>URI</td>
			<td>{{ node.uri }}</td>
		</tr>
		<tr>
			<td>Description</td>
			<td>{{ node.description }}</td>
		</tr>
		<tr>
			<td>Date Edited</td>
			<td>{{ node.datetime_edited }}</td>
		</tr>
	</table>

	{% if node.is_not_ours %}
		<p>
			<strong>Personal Notes:</strong> 
			{% if node.own_description %}
				{{ node.own_description }}
			{% else %}
				None
			{% endif %}
			<a href="/node/edit/{{ node.pk }}/">(edit)</a>
		</p>

		<table class="table">
			<tr>
				<th colspan="2">Resolve Details</th>
			</tr>
			<tr>
				<td>Date Added</td>
				<td>{{ node.datetime_added }}</td>
			</tr>
			<tr>
				<td>Last Resolved</td>
				<td>
					{% if node.is_yet_to_resolve %}
						<em>Has never been resolved!!</em>
					{% else %}
						{{ node.datetime_last_resolved }}
					{% endif %}
				</td>
			</tr>
			<tr>
				<td>Last Error</td>
				<td>{{ node.datetime_last_failed }}</td>
			</tr>
		</table>

		<br />

		<table class="table">
			<tr>
				<th colspan="2">Communication Originating Here</th>
				<th colspan="2">Communication Originating Remotely</th>
			</tr>
			<tr>
				<td>Last pushed to</td>
				<td>{{ node.datetime_last_pushed_to }}</td>
				<td>Last pushed to us</td>
				<td>{{ node.datetime_pushed_to_us }}</td>
			</tr>
			<tr>
				<td>Last pulled from</td>
				<td>{{ node.datetime_last_pulled_from }}</td>
				<td>Last pulled from us</td>
				<td>{{ node.datetime_pulled_from_us }}</td>
			</tr>
		</table>

	{% endif %}
	<br />

	<p>TODO - More info</p>
	<ul>
		<li>Show a feed from the node</li>
		<li>Show an "about" block... describing the person or service.</li>
		<li>Show status of node graphically</li>
		<li>Etc.</li>
	</ul>

{% endblock content %}

