{% extends "base.html" %}

{% block title %}Edit Profile{% endblock %}

{%block content %}
	<h1> Edit Profile </h1>
	<p><em>Note:</em> Your alias (username) does not have to be unique! 
	You can choose whatever you like. (Or avoid one altogether.)</p>
	<form action="" method="post">
		{% for field in form %}
		<div class="field">
			<span class="error">{{ field.errors }}</span>
			{{ field.label_tag }} {{ field }}
		</div>
		{% endfor %}

		<input type="submit" value="Submit" />
	</form>
{% endblock content %}
