
.buttons a:link, .buttons a:visited { 
	border: 1px solid #333; 
	font-size: 1.2em;
	font-family: arial;
	color: #333;
	background-color: #ccc;
	padding: 3px 4px 3px 4px;
	margin: 4px;
}
.buttons a:active, .buttons a:hover { 
	border: 1px solid #444; 
	font-size: 1.2em;
	font-family: arial;
	color: #444;
	background-color: #aaa;
	padding: 3px 4px 3px 4px;
	margin: 4px;
}

.buttons {
	margin: 12px 20px 10px 10px;
	text-align: right;
	float: right;
	width: 300px;
}

.table {
	border: 1px solid #ccc;
	padding: 0px;
}
.table div {
	padding: 4px;
	font-size: 1.2em;
}
.table div a {
	font-weight: bold;
}
table.table {
	width: 100%;
}
table.table td {
	padding: 4px;
}
table.table th {
	padding: 3px;
	background-color: #ddd;
	font-size: 1.2em;
}

table.table p {
	margin: 2px 0px 0px 0px;
}
	

.row_odd {
	background-color: #ddd;
}

.row_even {
	background-color: #ccc;
}

/**
 * Classes from Inverted Headline
 * http://demusdesign.com/Inverted_Headline/
 */
.clearer {
	clear: both;
	line-height: 0; 
	height: 0;
	font-size: 0;
	}


