{% extends "core/backend/install/base.html" %}

{% block title %}Welcome to Sylph :: Installer{% endblock %}

{%block content %}
	<h1>You're about to enter the decentralized web!</h1>
	<p>This will guide you through the install process. Nothing you configure 
	is permanent, so don't worry&mdash;you can get back to it later!</p>

	<h2> Installing Sylph &gt; Create Account </h2>

	{% ifequal step 1 %}
	{% else %}{% ifequal step 2 %}
	{% endifequal %}{% endifequal %}

	<form action="" method="post">
		{% for field in form %}
		<div class="field">
			<span class="error">{{ field.errors }}</span>
			{{ field.label_tag }} {{ field }}
		</div>
		{% endfor %}

		<input type="submit" value="Submit" />
	</form>
	<br />
	<br />
{% endblock content %}
