{% extends "base.html" %}
{% load humanize %}

{% block title %}Profile Post Index{% endblock %}

{%block content %}
	<div class="buttons">
		<a href="/social/post/create/{{user.id}}/" 
			class="button">Create Post</a>
	</div>

	<h1>Profile Posts for <a 
		href="{{user.get_absolute_url}}"/>{{user.get_name_or_username}}</a></h1> 

	 {% if posts %}
	 	<table class="table">
			{% for post in posts %}
				<tr class="row_{% cycle 'odd' 'even' %}">
					<td width="20%">
						<small>
						by <a href="{{post.author.get_absolute_url}}"
							>{{post.author.get_name_or_username}}</a>
						<br />
						posted {{post.datetime_created|naturalday}}
						at {{post.datetime_created|time}}
						<br />
						<a href="/social/post/view/{{post.id}}/">view</a> | 
						{% if post.author.is_owner %}
							<a href="/social/post/edit/{{post.id}}/">edit</a> |
						{% endif %}
						<a href="/social/post/delete/{{post.id}}/">delete</a>
						</small>
					</td>
					<td width="80%">
						{{post.contents_with_markup|safe}}
						{% if post.datetime_edited %}
							<p><em><small>edited 
							{{post.datetime_created|naturalday}}
							at {{post.datetime_created|time}}
							</small></em></p>
						{% endif %}
					</td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}

{% endblock %}
