{% extends "base.html" %}

{% block title %}Viewing Post{% endblock %}

{%block content %}

	<h1>Profile Post for <a 
		href="{{user.get_absolute_url}}"/>{{user.get_name_or_username}}</a></h1>
	<p><a href="/social/post/index/{{user.id}}/">View All</a></p>

	<table class="table">
		<tr class="row_even">
			<td width="20%">
				<small>
				by <a href="{{post.author.get_absolute_url}}"
					>{{post.author.get_name_or_username}}</a>
				<br />
				<a href="/social/post/view/{{post.id}}/">view</a> | 
				{% if post.author.is_owner %}
					<a href="/social/post/edit/{{post.id}}/">edit</a> |
				{% endif %}
				<a href="/social/post/delete/{{post.id}}/">delete</a>
				</small>
			</td>
			<td width="80%">
				{{post.contents_with_markup|safe}}
			</td>
		</tr>
	</table>

{% endblock content %}

