{% extends "base.html" %}
{% load humanize %}

{% block title %}Viewing Post{% endblock %}

{%block content %}

	<h1>Profile Post for <a 
		href="{{user.get_absolute_url}}"/>{{user.get_name_or_username}}</a></h1>
	<p><a href="/social/post/index/{{user.pk}}/">View All</a></p>

	<table class="table">
		<tr class="row_even">
			<td width="20%">
				<small>
				by <a href="{{post.author.get_absolute_url}}"
					>{{post.author.get_name_or_username}}</a>
				<br />
				posted {{post.datetime_created|naturalday}}
				at {{post.datetime_created|time}}
				<br />
				<a href="/social/post/view/{{post.pk}}/">view</a> | 
				{% if post.author.is_owner %}
					<a href="/social/post/edit/{{post.pk}}/">edit</a> |
				{% endif %}
				<a href="/social/post/delete/{{post.pk}}/">delete</a>
				</small>
			</td>
			<td width="80%">
				{{post.contents_with_markup|safe}}
				{% if post.datetime_edited %}
					<p><em><small>edited 
					{{post.datetime_created|naturalday}}
					at {{post.datetime_created|time}}
					</small></em></p>
				{% endif %}
			</td>
		</tr>
	</table>

{% endblock content %}

