{% extends "base.html" %}

{% block title %}Blog Subscription index{% endblock %}

{% block javascript %}
{% endblock %}

{%block content %}
	<div class="buttons">
		<a href="/blog/subscription/add/" 
			class="button">Add Subscription</a>
	</div>
	<h1> Subscription Index </h1>
	<p><b><a href="/blog/">Blog Item index</a></b></p>
	<table class="table">
	{% for subs in subscriptions %}
		<tr class="row_{% cycle 'odd' 'even' %}" 
			id="subscription_{{ subs.pk }}">
			<td width="70%">
				{{subs.node.uri}}
			</td>
			<td class="td_date">	
				Temp
			</td>
			<td>
				<a href="/blog/subscription/edit/{{ subs.pk }}/">edit</a> |
				<a href="/blog/subscription/disable/{{subs.pk}}/">disable</a> | 
				<a href="/blog/subscription/delete/{{subs.pk}}/">delete</a> 
					(TODO: delete can purge the node or leave it alone)
			</td>
		</tr>
	{% endfor %}
	</table>
{% endblock %}
