{% extends "base.html" %}

{% block title %}Recent blog items{% endblock %}

{% block javascript %}
{% endblock %}

{%block content %}
	<h1> Recent Blog items</h1>

	<p><b><a href="/blog/subscription/">Manage subscriptions</a></b></p>

	<table class="table">
	{% for it in items %}
		<tr class="row_{% cycle 'odd' 'even' %}" 
			id="blogitem_{{ it.id }}">
			<td>
				<a href="/blog/view/{{it.id}}">{{ it.title }}</a>
			</td>
			<td class="td_date">	
				Temp
			</td>
			<td>
				<a href="/blog/edit/{{ it.id }}/">edit</a> |
				<a href="/blog/delete/{{ it.id }}/">delete</a>
			</td>
		</tr>
	{% endfor %}
	</table>
{% endblock %}
