{% extends "base.html" %}

{% block title %}Resource index{% endblock %}

{% block javascript %}
{% endblock %}

{%block content %}
	<h1> Resource Index </h1>

	<p>Almost every entity in Sylph is a resource (with the exception of a
	few convenience tables here and there). This just means we can 
	expect some standard metadata associated with every type. The resource
	type system is polymorphic with single-inheritance.</p>

	{% if resources %}
		<table class="table">
			<tr>
				<th>
					Resource
				</th>
				<th>
					Type
				</th>
				<th colspan="2">
					Dates
				</th>
			</tr>
		{% for res in resources %}
			<tr class="row_{% cycle 'odd' 'even' %}">
				<td>
					<b><a href="/resource/redirect/{{res.resource_type}}/{{res.pk}}/">Resource ID #{{res.pk}}</a></b> (<a href="/resource/view/{{res.pk}}/">info page</a>)<br />
					{{res.wrap_uri}}
				</td>
				<td>	
					{{res.resource_type}}
				</td>
				<td>
					Created: {{res.datetime_created}}<br />
					Edited: {{res.datetime_edited}}
				</td>
				<td>
					Added: {{res.datetime_added }}<br />
					Last-accessed: {{res.datetime_last_accessed}}
				</td>
			</tr>
		{% endfor %}
	</table>
	{% else %}
		<p><strong>No resources!! (WTF? How?)</strong></p>
	{% endif %}

{% endblock %}
