{% extends "base.html" %}

{% block title %}Viewing Resource{% endblock %}

{%block content %}
	<h2> <a href="/resource/">Index</a> &gt; Resource #{{resource.pk}} </h2>

	<table class="table">
		<tr>
			<th colspan="2">Resource Basic Info</th>
		</tr>
		<tr>
			<td>ID (local identifier)</td>
			<td>{{resource.pk}} (<a href="/resource/redirect/{{resource.resource_type}}/{{resource.pk}}/">view</a>)</td>
		</tr>
		<tr>
			<td>URI (global identifier)</td>
			<td>{{ resource.uri }}</td>
		</tr>
		<tr>
			<td>Type</td>
			<td><a href="#">{{ resource.resource_type }}</a></td>
		</tr>
		<tr>
		<td>Date Created</td>
			<td>{{resource.datetime_created}}</td>
		</tr>
		<tr>
			<td>Date Edited</td>
			<td>{{resource.datetime_edited}}</td>
		</tr>
		<tr>
			<td>TODO</td>
			<td>Try to query the resource type-specific info (would require an up-to-date view)</td>
		</tr>
		<tr>
			<th colspan="2">Access Information</th>
		</tr>
			<tr>
				<td>Date Added</td>
				<td>{{resource.datetime_added}}</td>
			</tr>
			<tr>
				<td>Last Accessed (locally)</td>
				<td>{{resource.datetime_last_accessed}}</td>
			</tr>
			<tr>
				<td>Last Retrieved (remotely)</td>
				<td>{{resource.datetime_last_retrieved}}</td>
			</tr>
		</table>

		<br />

		<table class="table">
			<tr>
				<th colspan="2">Extended Type Information</th>
			</tr>
			<tr>
				<td>TODO</td>
				<td>Try to query the resource type-specific info (would require an up-to-date view)</td>
			</tr>
		</table>

{% endblock content %}

