{% extends "base.html" %}

{% block title %}Index{% endblock %}

{%block content %}
	<h1> There is nothing to do on the index </h1>

	<p><strong>Don't worry about <em>User vs Machine</em> or 
		<em>Follower vs Following</em> nodes</strong> for now. 
		The former is a distinction of service, whereas the latter is a 
		mechanism for grouping and fine-grained permissions. Neither is needed 
		just yet. Add them later as they are boring to design 
		and prone to change.</p>

	<p><strong>Concentrate on exchanging DATA</strong>&mdash;Many types of
	 interesting data.</p>
	
	<hr />
	<p>Some useful links:</p>
	<ul>
		<li><a href="/system/">Backend-related stuff (system)</a>.</li>
		<li><a href="/system/reset/">Reset the database</a>. 
			Drops <em>everything</em>. Will have to 
			<a href="/system/signup/">sign up again</a>.</li>
	</ul>
{% endblock content %}
