<p><strong><a href="/">Main</a></strong></p>

<p><strong>Working</strong></p>
<ul>
  <li><a href="/node/">Nodes</a></li>
  <li>Dev/Debug
	<ul>
  		<li><a href="/reset/">Reset</a></li>
		<li>
			<a href="/system/test/">Test Page</a> |
			<a href="/system/test2/">2</a>
		</li>
	</ul>
  </li>
</ul>

<p><strong>Sort of working</strong></p>
<ul>
  <li><a href="/profile/">User Profiles</a></li>
  <li><a href="/post/">Posts</a></li>
</ul>

<p><strong>TODO</strong></p>
<ul>
  <li><a href="/bootstrap/">Bootstrap</a> (current WIP)</li>
  <li><strike><a href="">Friends etc.</a></strike></li>
  <li><strike><a href="">Resource Overview</a></strike></li>
  <li><strike><a href="">Job Management</a></strike></li>
  <li><strike><a href="">Privacy Control</a></strike></li>
  <li><a href="/system/">System Configuration</a></li>
	
</ul>
