<p><strong><a href="/">Main</a></strong></p>

<p><strong>Sylph Core</strong></p>

<ul>
  <li><a href="/node/">Nodes</a></li>
  <li><a href=""><strike>Job Management</strike></a></li>
  <li><a href=""><strike>Privacy Control</strike></a></li>
  <li><a href="/system/">System Configuration</a>
	<ul>
		<li><a href="/system/test/">Test Page</a></li>
 		<li><a href="/reset/">Reset</a></li>
	</ul></li>
</ul>

<p><strong>Applications</strong></p>

<ul>
  <li><a href="/post/">Posts</a></li>
  <li><a href="/profile/">Profile</a> (Social)</li>
  <li><strike><a href="">Friends etc.</a></strike></li>
  <li><strike><a href="">Resource Overview</a></strike></li>
</ul>

