<p><strong><a href="/">Main</a></strong></p>
<ul>
	<li><strong><a href="/reset/">Reset</a></strong></li>
	<li><em><a href="/system/todo/">Read todo items</a></em></li>
	<li>
		<a href="/system/readme/">readme file</a> 
	</li>
	<li>
		Test Page [<a href="/system/test/">1</a>, <a href="/system/test2/">2</a>]
	</li>
	<li><a href="/system/runjobs/">Run Jobs</a> (experimental)</li>

</ul>

<p><strong>Distributed Newsfeed</strong></p>
<ul>
	<li><a href="/blog/">Read latest</a></li>
	<li><a href="/blog/subscription/">Manage Subscriptions</a></li>
	<li><strike><a href="#">Annotated Bibliography</a></strike></li>
	<li><strike><a href="#">Sharing Contexts</a></strike></li>
</ul>

<p><strong>Your Social context</strong></p>
<ul>
	<li><a href="/user/view/1/" class="good">Your profile</a></li>
	<li><strike><a href="#">Friends</a> (manual)</strike></li>
	<li><a href="/user/" class="good">Everyone</a></li>
	<li><strike><a href="#">Peer group</a> (computed)</strike></li>
</ul>

<p><strong>System-wide</strong></p>
<ul>
	<li><a href="/node/" class="good">Nodes</a></li>
	<li><a href="/resource/">Resources</a></li>
	<li><a href="/subscription/">Subscriptions</a></li>
	<li><strike><a href="">System settings</a></strike></li>
	<li><strike><a href="">Jobs &amp; Statistics</a></strike></li>
</ul>

<p><strong>Files and Media</strong></p>
<ul>
	<li><a href="/files/">Files</a></li>
	<li><a href="/files/image/">Images</a></li>
	<li><strike><a href="#">Video</a></strike></li>
</ul>

